@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Young+Serif&display=swap');

/* MAIN.HANDLEBARS PAGE */

:root{
--color-dark: (252,30% 17%);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-image: url('/images/img.png');
}
.loginlink{
    color: var(--color-dark);
    margin: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-picture{
    width: 2.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 20;
    font-weight: 500;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    text-align:center;
}

.btn-create {
    background: black;
   color: white;
   text-align:center;
}
    
.text-bold{
    font-weight: 500;
}

nav{
    width: 100%;
    background-color: rgb(17, 16, 16);
    padding: 0.7rem 0;
    top: 0;
    z-index: 10;
    display: flex;
}
 nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align:center;
 }
 .leaf {
    color: antiquewhite;
 }

 /* SEARCH BAR IN NAV */

 nav .search-bar{
    color: (255,243,228);
    background: rgb(255, 243, 228);
    border-radius: 0%;
    padding: 10px;
 }

 nav .search-bar input[type="search"] {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: transparent;
    width: 30vw;
    margin-left: 1 rem;
    color: rgb(17, 16, 16);
}

nav .search-bar input[type="search"]::placeholder{
    color: rgb(27, 26, 26);
    font-size: 17px;
}

#search-form{
    display: flex;
}

#searchbtn{
    background-color:  rgb(49, 48, 48);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px; 
    color: antiquewhite
}
#searchbtn:hover{
    background-color: brown
}

.logins{
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    color: antiquewhite;
    font-size:35px;
}

/* GENERAL */


.button{
    color: antiquewhite;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

.button:hover{
    color: brown;
}

.middle .feeds .feed{
    align-items: center;
    background: antiquewhite;
    border-radius: 3%;
    padding: 15;
    margin: 1rem 0;
    font: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head{
    display: flex;
    justify-content: space-between;
}

.middle .feed .user{
    display: flex;
    gap: 1rem;
}

.middle .feed .phot.post{
  border-radius: 3%;
  overflow: hidden;
  margin: 0.7rem;  
}

.post{
width: 550px;
border-radius: 3%;
}

.info{
    background: antiquewhite;
    border: 1px solid #000;
    border-radius: 10px;
}



/* Map CSS !DO NOT TOUCH! */
.homediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    

}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center
}

.home-map{
    display: flex;
    height: 60vh; 
    Width: 80vw;
    z-index: 0;
    border: 1px solid #000;
    border-radius: 10px;
}


/* locations CSS */
.center{
    justify-content: space-evenly;
}

.centerdiv{
    justify-content: center;
}

.textcenter {
    text-align: center;
}

.padding {
    padding: 10px;
    border-radius: 10px;
}

.loc-map {
    display: flex;
    height: 30vh;
    width: 45vw;
    margin-top: -2vh;
    z-index: 1;
    border: 1px solid #000;
    border-radius: 10px;
}

.boarder{
    border: 1px solid #000;
    border-radius: 10px;
}

.flex{
    display: flex;
}

.right {
    display: flex;
    margin: 10px;
    align-items: flex-end;
    flex-direction: column;
}

.left{
    display: flex;
    margin: 10px;
    flex-direction: column;

}

.blog-form {
    min-height: 40vh;
    width: 45vw;
    text-align: center;
}

.form-part{
    display: flex;
    flex-direction:row;
    align-items:baseline;
    justify-content: space-between;
    width:50vw;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:50vw;
}

.blog-form-part{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.form-input{
    max-width: 40vw;
    flex-grow:1;
    height: 5vh;
    margin: 15px;
    border: 1px solid #000;
}
#blog-content{
    height: 15vh;
}
.login-signup-color{
    color: brown;
}
.btn{
    background-color:  rgb(90, 87, 87);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; 
    color: antiquewhite
}
.title{
    padding: 15px;
    width: 45vw;
    margin-top: -2vh;
    text-align: center;
}

.margin{
    margin: 10px;
}

/* Blog Card CSS */

.blog-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carddiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:3vh 2vw;
    width: 42vw;
}

.brown{
    color:brown
}

.darkbg{
    background-color: var(--color-dark)
}

.green{
    background-color: rgb(165, 196, 139)
}

.location{
    width: 20vw;
}
.w-100{
    width: 100vw;
}
.wrap{
    flex-wrap: wrap;
}
/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    nav .container {
        flex-direction: column;
        align-items: center;
    }
    nav .search-bar input[type="search"]{
        width: 60vw;
    }
    nav .container a {
        padding: 10px;
    }

}

@media screen and (max-width: 1100px) {
    .container {
        flex-wrap: wrap;
        flex-direction: column;
    }
}